<form id="forgottenPasswordBox" method="post" hidden>
    <div id="restore">
        <h2><%= language['RESTORE_PASSWORD_TITLE'] %></h2>
        <!-- Error for username -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].code %></p>
        <% } %> 
        <label id="code">
            <input 
                type="text"
                placeholder="<%= language['RANDOM_CODE'] %>"
                name="code"
            />
        </label>
        <!-- Error for password -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].password %></p>
        <% } %> 
        <label id="password">
            <input
                type="password"
                placeholder="<%= language['PASSWORD_PLACE_HOLDER'] %>"
                name="password"
            />
        </label>
        <!-- Error for confirm password -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].confirmpassword %></p>
        <% } %> 
        <label id="confirmpassword">
            <input
                type="password"
                placeholder="<%= language['CONFIRM_PASSWORD_PLACE_HOLDER'] %>"
                name="confirmpassword"
            />
        </label>
        <label id="restore-footer">
            <button id='restoreButton' type="submit"><%= language['RESTORE_PASSWORD_BUTTON'] %></button>
            <span> <a href="//auth/login?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['GO_BACK_TO_LOGIN'] %></a></span>
        </label>
    </div>
</form>