<form id="forgottenPasswordBox" method="post" hidden>
    <div id="restore">
        <h2><%= language['RESTORE_PASSWORD_TITLE'] %></h2>
        <!-- Error for username -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].username %></p>
        <% } %> 
        <label id="username">
            <input 
                type="text"
                placeholder="<%= language['USERNAME_PLACE_HOLDER'] %>"
                name="username"
            />
        </label>
        <label id="restore-footer">
            <button id='restoreButton' type="submit"><%= language['VALIDATE_BUTTON'] %></button>
            <span> <a href="/auth/login?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['GO_BACK_TO_LOGIN'] %></a></span>
        </label>
    </div>
</form>