<form id="signInBox" method="post">
    <div id="signin">
        <h2><%= language['SIGN_UP_TITLE'] %></h2>
        <!-- Error for username -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].username %></p>
        <% } %> 
        <label id="username">
            <input 
                type="text"
                name="username"
                placeholder="<%= language['USERNAME_PLACE_HOLDER'] %>"
            />
        </label> 
        <!-- Error for email -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].email %></p>
        <% } %> 
        <label id="email">
            <input 
                type="text"
                name="email"
                placeholder='<%= language['EMAIL_PLACE_HOLDER'] %>'
            />
        </label>
        <!-- Error for password -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].password %></p>
        <% } %> 
        <label id="password">
            <input 
                type="password"
                name="password"
                placeholder='<%= language['PASSWORD_PLACE_HOLDER'] %>' 
            />
        </label>
        <!-- Error for cofirmPassword -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].confirmpassword %></p>
        <% } %> 
        <label id="confirmpassword">
            <input 
                type="password"
                name="confirmpassword"
                placeholder='<%= language['CONFIRM_PASSWORD_PLACE_HOLDER'] %>' 
            />
        </label>
        <!-- Error for personal number -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].pnr %></p>
        <% } %> 
        <label id="pnr">
            <input 
                type="text"
                name="pnr"
                placeholder='<%= language['PERSONAL_NUMBER_PLACE_HOLDER'] %>' 
            />
        </label>
        <!-- Error for first name -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].name %></p>
        <% } %> 
        <label id="name">
            <input 
                type="text"
                name="name"
                placeholder='<%= language['FIRST_NAME_PLACE_HOLDER'] %>' 
            />
        </label>
        <!-- Error for last name -->
        <% if (form_error[0]) {%> 
            <p style="font-size: xx-small; color: red;"><%= form_error[0].surname %></p>
        <% } %> 
        <label id="surname">
            <input 
                type="text"
                name="surname"
                placeholder='<%= language['LAST_NAME_PLACE_HOLDER'] %>' 
            />
        </label>
        <label id="signin-footer">
            <button id='signUpButton' type="submit"><%= language['SIGN_UP_BUTTON'] %></button>
            <span> <a href="/auth/login?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['ALREADY_REGISTERED_USER'] %></a></span>
        </label>
    </div>
</form>