<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/applications.css" rel="stylesheet" type="text/css" />
    <title>Applications</title>
  </head>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <form id="search-form" method="get">
      <h1><%= language['APPLICATIONS_TITLE'] %></h1>
    
      <h2>
        <%= language['APPLICATIONS_RECRUITER'] %>: <%= user.name %> <%= user.surname %><br />
      </h2>
    
      <% if (availability && availability.length) { %>
      <table class="application-table">
        <thead>
          <tr>
            <th><%= language['APPLICATION_FORM_PERSON_NAME'] %></th>
            <th><%= language['APPLICATIONS_APPLICATION_ID'] %></th>
            <th><%= language['APPLICATIONS_STATUS'] %></th>
            <th><%= language['SHOW_APPLICATION'] %></th>
          </tr>
        </thead>
        <tbody>
          <% applicationsData.forEach(function(data) { %>
          <tr>
            <td><%= data.applicant.name %> <%= data.applicant.surname %></td>
            <td><%= data.availability.availability_id %></td>
            <td><%= data.applicationsStatus.status %></td>
            <td>
              <form></form>
              <form class="show-application-form" action="/application/show-application" method="get">
                <input type="hidden" name="availability_id" value="<%= data.availability.availability_id %>">
                <input type="hidden" name="person_id" value="<%= data.applicationsStatus.person_id %>">
                <button type="submit" class="show-application-button"><%= language['SHOW_APPLICATION'] %></button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </form>
  </body>
</html>