<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/forgotten-password.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>

        <p style="font-size: large; color: red; display: flex; justify-content: center;" ><%= error %></p>
        <p style="font-size: large; color: green; display: flex; justify-content: center;" ><%= success %></p>

        <form id="forgottenPasswordBox" method="post" hidden>
            <div id="restore">
                <h2><%= language['RESTORE_PASSWORD_TITLE'] %></h2>
                <!-- Error for username -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].username %></p>
                <% } %> 
                <label id="username">
                    <input 
                        type="text"
                        placeholder="<%= language['USERNAME_PLACE_HOLDER'] %>"
                        name="username"
                    />
                </label>
                <label id="restore-footer">
                    <button id='restoreButton' type="submit"><%= language['VALIDATE_BUTTON'] %></button>
                    <span> <a href="/auth/login?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['GO_BACK_TO_LOGIN'] %></a></span>
                </label>
            </div>
        </form>      
    </body>
</html>