<!DOCTYPE html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../assets/application-form.css" rel="stylesheet" type="text/css">
  <title>Job Application Form</title>

</head>

<body>
  <%- include('./partials/navbar.ejs') %> 
  <form method="post">

    <!-- Error for from_date -->
    <span>
      <%= error %>
    </span>

    <h1>Job Application Form</h1>

    <h2>
      Name: <%=user.name %><br>
      Surname: <%=user.surname %> <br>
      Personnummer: <%=user.pnr %> <br>
      Email: <%=user.email %> <br>
      Person-ID: <%=user.person_id %> <br>
    </h2>

    <div>
      <label for="availability">
        Availability:
      </label>
      <!-- Error for from_date -->
      <% if (form_error[0]) {%>
      <p>
        <%= form_error[0].from_date %>
      </p>
      <% } %>
      <input type="date" id="startDate" name="from_date">
      <!-- Error for from_date -->
      <% if (form_error[0]) {%>
      <p>
        <%= form_error[0].to_date %>
      </p>
      <% } %>
      <input type="date" id="endDate" name="to_date">
    </div>
    <div>
      <label for="competences">Competences:</label>
      <div id="competencesContainer">
        <div>
          <input type="checkbox" name="competences1" value="1">
          <h2>Ticket Sales</h2>
          <!-- Error for from_date -->
          <% if (form_error[0]) {%>
          <p>
            <%= form_error[0].competence_1_start_time %>
          </p>
          <% } %>
          <input type="date" id="startDate1" name="competence_1_start_time">
          <!-- Error for from_date -->
          <% if (form_error[0]) {%>
          <p>
            <%= form_error[0].competence_1_end_time %>
          </p>
          <% } %>
          <input type="date" id="endDate1" name="competence_1_end_time">
        </div>
        <div>

          <input type="checkbox" name="competences2" value="2">
          <h2>Lotteries</h2>
          <!-- Error for from_date -->
          <% if (form_error[0]) {%>
          <p>
            <%= form_error[0].competence_2_start_time %>
          </p>
          <% } %>
          <input type="date" id="startDate2" name="competence_2_start_time">
          <!-- Error for from_date -->
          <% if (form_error[0]) {%>
          <p>
            <%= form_error[0].competence_2_end_time %>
          </p>
          <% } %>
          <input type="date" id="endDate2" name="competence_2_end_time">
        </div>
        <div>
          <input type="checkbox" name="competences3" value="3">
          <h2>Roller Coaster Operation</h2>
          <input type="date" id="startDate3" name="competence_3_start_time">
          <input type="date" id="endDate3" name="competence_3_end_time">
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>

</html>