<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/register.css" rel="stylesheet" type="text/css">
        <title>Register</title>
    </head>
    <body>
        <form id="signInBox" method="post">
            <p style="font-size: xx-small; color: red;" ><%= error %></p>
            <div id="signin">
                <h2>Sign Up</h2>
                <!-- Error for username -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].username %></p>
                <% } %> 
                <label id="username">
                    <input 
                        type="text"
                        name="username"
                        placeholder='Username'
                    />
                </label> 
                <!-- Error for email -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].email %></p>
                <% } %> 
                <label id="email">
                    <input 
                        type="text"
                        name="email"
                        placeholder='Email'
                    />
                </label>
                <!-- Error for password -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].password %></p>
                <% } %> 
                <label id="password">
                    <input 
                        type="password"
                        name="password"
                        placeholder='Password' 
                    />
                </label>
                <!-- Error for cofirmPassword -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].confirmpassword %></p>
                <% } %> 
                <label id="confirmpassword">
                    <input 
                        type="password"
                        name="confirmpassword"
                        placeholder='Confirm password' 
                    />
                </label>
                <!-- Error for personal number -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].personal_number %></p>
                <% } %> 
                <label id="personal_number">
                    <input 
                        type="text"
                        name="personal_number"
                        placeholder='ÅÅÅÅMMDDXXXX' 
                    />
                </label>
                <!-- Error for first name -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].first_name %></p>
                <% } %> 
                <label id="first_name">
                    <input 
                        type="text"
                        name="first_name"
                        placeholder='First name' 
                    />
                </label>
                <!-- Error for last name -->
                <% if (form_error[0]) {%> 
                    <p style="font-size: xx-small; color: red;"><%= form_error[0].last_name %></p>
                <% } %> 
                <label id="last_name">
                    <input 
                        type="text"
                        name="last_name"
                        placeholder='Last name' 
                    />
                </label>
                <label id="signin-footer">
                    <button id='signUpButton' type="submit">Sign Up</button>
                    <span> <a href="/iv1201-recruitment-application/us-central1/app/auth/login" style="text-decoration: none; color:black;">Already Registered User? Click here to login</a></span>
                </label>
            </div>
        </form>
    </body>
</html>
